body{
	background:#F7F7F7;
}
.clear{
    clear:both;
    visibility:hidden;
    overflow:hidden;
    height:0;
    }
#wrapper{
    width:100%;
    }
.header{
    border-bottom:1px solid #eee;;
    margin-bottom:20px;
    padding:10px 0;
    }

.content_sectionx{
    width:98%;
    margin:0px 12px;
    }

.navbar ul{
    float:right;
    margin:0;
    }
.navbar li{
    list-style:none;
    margin:10px;
    float:left;
    }
.navbar li a{
    text-decoration:none;
    color:#666;
    padding:5px 10px;
    }
.navbar li a:hover{
    text-decoration:none;
    color:black;
    }
.container_inner{

}

.arrows-left-icon{
    float: left;
    margin: 0px;
    height: auto;
    width: auto;
    max-width: 10px;
    max-height: 10px;"
}

.arrows-right-icon{
    float: right;
    margin: 0px 50px;
    height: auto;
    width: auto;
    max-width: 10px;
    max-height: 10px;"
}

.banner{
    padding:5px;
    }
.banner h4 {
    margin: 0;
    text-align: center;
}
.banner .signin-page {
    margin:200px 0 0;
}

.content_section{
    margin:20px 0;
    }

.content_section .auth-form{
    text-align: center;
    }

.content_section .auth-form .errorlist {
    display: none;
}

.content_section .auth-form .required_error {
    border: 1px red solid;
}

.content_section .expense-form{
    text-align: center;
    }

.content_section .people-share{
    text-align: center;
    }

.content_section .expense-form{
    text-align: center;
    }

.btnprev{
    float:left;
}

.btnnext{
    float:right;
}


/* expense history table */

.boldme {
    font-weight: bold;
}

/* for date picker
.ui-datepicker-calendar {
    display: none;
    }
*/



/* Anis Css */
.expense-form table th,
.expense-form table td{
    padding:0;
    height:38px;
    }
.wcheck-list input[type="text"],
.wcheck-list input[type="number"] {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #222;
    font-family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 0;
    width: 50%;
    margin:0;
    text-indent:5px;
}
.wcheck-list input[type="text"]:focus,
.wcheck-list input[type="number"]:focus{
    border:1px solid #e1e1e1;
    padding:0;
    height:38px;
    }

/* Larger than mobile */
@media (min-width: 400px) {
    }

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .expense-form input[type="text"],
    .expense-form input[type="number"]{
        width:80%;
        }
    .customColumns{
        width:100% !important;
        margin:10px 0;
        }

    }

/* Larger than tablet */
@media (min-width: 750px) {
.customColumns{
        width:47% !important;
        margin-bottom: 15px;
        margin-left:2%;
        }
.fnone{
    float:none;
    clear:left;
    margin:0;

    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
.customColumns {
    width: 30.6667% !important;
    margin-left:4%;
}
.fnone{
    float:left;
    clear:none;
    margin-top:11px;

    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .customColumns {
    width: 30.6667% !important;
    margin-left:4%;
}
.fnone{
    float:left;
    clear:none;
    margin-top:11px;

    }
}