<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> {% block title %} jeight {% endblock %} </title>

    {% load staticfiles %}
    {% block head %}
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'images/fav-share.ico' %}"/>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script language="JavaScript" type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js" > </script>

    {% endblock %}

    {% block extrahead %}
    {% endblock %}

</head>

</body>
    <div id="wrapper">

        {% block nav %}
        {% endblock %}

        <div class="content_sectionx">
            <div class="container_inner">
                <div class="banner">
                    {% block content_headx %}
                    {% endblock %}
                </div>

                <div class="content_section">
                    {% block contentx %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="container_inner">
                <div class="banner">
                    {% block content_head %}
                    {% endblock %}
                </div>

                <div class="content_section">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>

</body>

</html>
