{% extends "roomexpenses/expenses_form.html" %}
{% load staticfiles %}
{% load roomexpenses_extras %}
{% load widget_tweaks %}


{% block extrahead %}
    <script>

        $(document).ready(function(){

            $("#checklist").on("click", function(e) {
                console.log("inside click fun")

                $('.paid_header_display_off').show();
                $('.paid_display_off').show();

                return false;
            });

        });

    </script>
{% endblock %}


{% block content_headx %}
    <a href="{{ prev_history_url }}" class="arrows-left-icon"> <img src="{% static 'images/Arrows-Left-icon.png' %}" /> </a>
    <a href="{{ next_history_url }}" class="arrows-right-icon"> <img src="{% static 'images/Arrows-Right-icon.png' %}" /> </a>
    <h4>{{ this_month|month_name }} - {{ this_year }}
        {% if checklist_enable %}
            <a id="checklist" href="#"> CheckList </a>
            <!--<input type="submit" form="paid_form" value="submit" />-->
            <button onclick="submitChecklist('paid_form');" type="button">submit</button>
        {% else %}
            {# empty #}
            <a id="checklist" href="#"> CheckList </a>
            <!--<input type="submit" form="paid_form" value="submit" />-->
            <button onclick="submitChecklist('paid_form');" type="button">submit</button>
        {% endif %}
    </h4>

{% endblock %}


{% block contentx %}
    <form id="paid_form" action="{{ checklist_url }}" method="POST"> {% csrf_token %}
    <div class="expense-form">

        <div class="row">

            <div id="monthexp-detail" class="four columns">
                <div class="monthexp-detail">

                    <table id="expense_table" class="u-full-width">
                        <caption> <h5>Expenses</h5> </caption>
                        <thead>
                            <tr>
                                <th> Details </th>
                                <th>Amount</th>
                                <th class="paid_header_display_off" style="display:none;">Paid</th>

                            </tr>
                        </thead>
                            <tbody id="expense_table_body">
                                {% for field in exp_data_form %}
                                    <tr>
                                        <td>{{ field.label }}</td>
                                        <td>{{ field.value }}</td>
                                        <td class="paid_display_off" style="display:none" >{{ field }}</td>
                                    </tr>
                                {% empty %}
                                    <th style="text-align: center; color: #666;" colspan="2">Blah Blah!!!...</th>
                                {% endfor %}
                                {% if exp_data_form %}
                                    <tr>
                                        <td class="boldme">Total</td>
                                        <td class="boldme">{{ exp_obj.get_total_exp }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                    </table>

                </div>

            </div>

            <div id="monthinves-detail" class="four columns">
                <div class="monthinves-detail">

                    <table id="inves_table"  class="u-full-width">
                        <thead>
                            <caption> <h5>Investment</h5> </caption>
                            <tr>
                                <th> Details </th>
                                <th>Amount</th>
                                <th class="paid_header_display_off" style="display:none;">Paid</th>

                            </tr>
                        </thead>
                            <tbody id="inves_table_body">

                                {% for field in inves_data_form %}
                                <tr>
                                    <td>{{ field.label }}</td>
                                    <td>{{ field.value }}</td>
                                    <td class="paid_display_off" style="display:none" >{{ field }}</td>
                                </tr>
                                {% empty %}
                                    <th style="text-align: center; color: #666;" colspan="2">Blah Blah!!!...</th>
                                {% endfor %}
                                {% if inves_data_form %}
                                <tr>
                                    <td class="boldme">Total</td>
                                    <td class="boldme">{{ inves_obj.get_total_inves }}</td>
                                </tr>
                                {% endif %}

                            </tbody>
                    </table>

                </div>

            </div>

            <div id="afp-detail" class="four columns">
                <div class="afp-detail">
                    <table id="afp_table"  class="u-full-width">
                        <caption> <h5>Adjustment From People </h5> </caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                {% if afp_objs %}
                                    <th class="paid_header_display_off" style="display:none;">Paid</th>
                                {% endif %}
                            </tr>
                        </thead>
                            <tbody id="afp_table_body">
                            {% if afp_objs %}
                                {{ adjusment_formset.management_form }}
                                {% for form in adjusment_formset %}
                                {{ form.id }}
                                <tr>
                                    <td>{{ form.initial.people_name|title }}</td>
                                    <td>{{ form.initial.amount }}</td>
                                    <td style="display:none" >{{ form.people_name }}</td>
                                    <td class="paid_display_off" style="display:none" >{{ form.amount }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="boldme">Total</td>
                                    <td class="boldme">{{ inves_obj.get_total_adjustment }}</td>
                                </tr>
                            {% else %}
                                <th style="text-align: center; color: #666;" colspan="2">Blah Blah!!!...</th>
                            {% endif %}
                            </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="monthshare-detail">
            <table id="monthshare_detail" class="u-full-width">
                <caption> <h5> Share Details </h5> </caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Shared</th>
                        <th>Amount To Pay</th>
                        <th class="paid_header_display_off" style="display:none;">Paid</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for indiv_obj in indiv_qs %}
                        <tr>
                            <td>{{ indiv_obj.fk_room_member.name }}</td>
                            <td>{{ indiv_obj.get_shared_display }}</td>
                            <td>{{ indiv_obj.amount_to_pay }}</td>
                            <td class="paid_display_off" style="display:none" ><input type="text"
                                   value="{{ indiv_obj.amount_to_pay }}"
                                   name="monthinves-provision_store_{{indiv_obj.id}}"></td>
                        </tr>
                        {% empty %}
                            <th style="text-align: center; color: #666;" colspan="3">Add your Roommates Details in Admin Page!!!... </th>
                        {% endfor %}
                        {% if indiv_qs %}
                            <tr>
                                <td class="boldme" colspan="2">Total</td>
                                <td class="boldme" >{{ total_indiv_shares.amount_to_pay__sum }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
            </table>
        </div>

        </form>

    </div>
{% endblock %}

{% block content_head %}
{% endblock %}

{% block content %}
{% endblock %}