{% extends "roomexpenses/expenses_form.html" %}
{% load staticfiles %}
{% load roomexpenses_extras %}
{% load widget_tweaks %}


{% block extrahead %}
    <script>
        $(document).ready(function(){
            url_ = $('#get_checklist_url').val();

            if (url_ !== '') {
                console.log('checklist already have');
                showHistoryWithChecklist(url_);
            }

            $("#checklist").on("click", function(event) {
                console.log('inside on click doc ready enableChecklist');
                enableChecklist();
                event.preventDefault()
                });

            $('#refreshchecklist').on("click", function(event){
                location.reload();
                event.preventDefault()
            });

        });
    </script>
{% endblock %}


{% block content_headx %}
    <a href="{{ prev_history_url }}" class="arrows-left-icon"> <img src="{% static 'images/Arrows-Left-icon.png' %}" /> </a>
    <a href="{{ next_history_url }}" class="arrows-right-icon"> <img src="{% static 'images/Arrows-Right-icon.png' %}" /> </a>
    <h4>{{ this_month|month_name }} - {{ this_year }}
            <a id="checklist" href="#" title="Checklist"><img src="{% static 'images/checklist_gray.png' %}" /></a>
            <a id="savechecklist" title="Save"><img src="{% static 'images/save-icon_gray.png' %}" /></a>
            <a id="refreshchecklist" href="#" title="Refresh"><img src="{% static 'images/refresh-arrow_gray.png' %}" /></a>
    </h4>

{% endblock %}


{% block contentx %}
    <form id="paid_form" action="{{ checklist_url }}" method="POST"> {% csrf_token %}

    <input id="get_checklist_url" type="hidden" value="{{ get_checklist_url }}" name="get_checklist_url">

    <div class="expense-form">

        <div class="row">

            <div id="monthexp-detail" class="four columns customColumns">
                <div class="monthexp-detail">

                    <table id="expense_table" class="u-full-width">
                        <caption> <h5>Expenses</h5> </caption>
                        <thead>
                            <tr>
                                <th width="35%"> Details </th>
                                <th width="35%">Amount</th>
                                <th class="paid_header_display_off" style="display:none;" width="30%">Paid</th>

                            </tr>
                        </thead>
                            <tbody id="expense_table_body">
                                {% for field in exp_data_form %}
                                    <tr>
                                        <td>{{ field.label }}</td>
                                        <td>{{ field.value }}</td>
                                        <td class="paid_display_off" style="display:none" >{{ field }}</td>
                                    </tr>
                                {% empty %}
                                    <th style="text-align: center; color: #666;" colspan="2">-- --</th>
                                {% endfor %}
                                {% if exp_data_form %}
                                    <tr>
                                        <td class="boldme">Total</td>
                                        <td class="boldme">{{ exp_obj.get_total_exp }}</td>
                                        <td class="boldme paid_total_display_off" style="display:none"> {{ exp_obj.get_total_exp }} </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                    </table>

                </div>

            </div>

            <div id="monthinves-detail" class="four columns customColumns">
                <div class="monthinves-detail">

                    <table id="inves_table"  class="u-full-width">
                        <thead>
                            <caption> <h5>Investment</h5> </caption>
                            <tr>
                                <th width="35%"> Details </th>
                                <th width="35%">Amount</th>
                                <th class="paid_header_display_off" style="display:none;" width="30%">Paid</th>

                            </tr>
                        </thead>
                            <tbody id="inves_table_body">

                                {% for field in inves_data_form %}
                                <tr>
                                    <td>{{ field.label }}</td>
                                    <td>{{ field.value }}</td>
                                    <td class="paid_display_off" style="display:none" >{{ field }}</td>
                                </tr>
                                {% empty %}
                                    <th style="text-align: center; color: #666;" colspan="2">Blah Blah!!!...</th>
                                {% endfor %}
                                {% if inves_data_form %}
                                <tr>
                                    <td class="boldme">Total</td>
                                    <td class="boldme">{{ inves_obj.get_total_inves }}</td>
                                    <td class="boldme paid_total_display_off" style="display:none;">{{ inves_obj.get_total_inves }}</td>
                                </tr>
                                {% endif %}

                            </tbody>
                    </table>

                </div>

            </div>

            <div id="afp-detail" class="four columns fnone customColumns">
                <div class="afp-detail">
                    <table id="afp_table"  class="u-full-width">
                        <caption> <h5>Adjustment From People </h5> </caption>
                        <thead>
                            <tr>
                                <th width="35%">Name</>
                                <th width="35%">Amount</th>
                                {% if afp_objs %}
                                    <th class="paid_header_display_off" style="display:none;" width="30%">Paid</th>
                                {% endif %}
                            </tr>
                        </thead>
                            <tbody id="afp_table_body">
                            {% if afp_objs %}
                                {{ adjusment_formset.management_form }}
                                {% for form in adjusment_formset %}
                                {{ form.id }}
                                <tr>
                                    <td>{{ form.initial.people_name|title }}</td>
                                    <td>{{ form.initial.amount }}</td>
                                    <td style="display:none" >{{ form.people_name }}</td>
                                    <td class="paid_display_off" style="display:none" >{{ form.amount }}</td>
                                </tr>
                                {% empty %}
                                    <th style="text-align: center; color: #666;" colspan="2">-- --</th>
\                                {% endfor %}
                                <tr>
                                    <td class="boldme">Total</td>
                                    <td class="boldme">{{ inves_obj.get_total_adjustment }}</td>
                                    <td class="boldme paid_total_display_off" style="display:none;">{{ inves_obj.get_total_adjustment }}</td>
                                </tr>
                            {% else %}
                                <th style="text-align: center; color: #666;" colspan="2">Blah Blah!!!...</th>
                            {% endif %}
                            </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="monthshare-detail">
            <table id="monthshare_detail" class="u-full-width">
                <caption> <h5> Share Details </h5> </caption>
                <thead>
                    <tr>
                        <th width="25%">Name</th>
                        <th width="25%">Shared</th>
                        <th width="25%">Amount To Pay</th>
                        <th class="paid_header_display_off" style="display:none;" width="25%">Paid</th>
                    </tr>
                </thead>
                    <tbody id="monthshare_detail_table_body">
                        {% for indiv_obj in indiv_qs %}
                        <tr>
                            <td>{{ indiv_obj.fk_room_member.name }}</td>
                            <td>{{ indiv_obj.get_shared_display }}</td>
                            <td>{{ indiv_obj.amount_to_pay }}</td>
                            <td class="paid_display_off" style="display:none" ><input type="text"
                                   value="{{ indiv_obj.amount_to_pay }}"
                                   name="indivobj_{{indiv_obj.id}}"></td>
                        </tr>
                        {% empty %}
                            <th style="text-align: center; color: #666;" colspan="3">Add your Roommates Details in Admin Page!!!... </th>
                        {% endfor %}
                        {% if indiv_qs %}
                            <tr>
                                <td class="boldme" colspan="2">Total</td>
                                <td class="boldme" >{{ total_indiv_shares.amount_to_pay__sum }}</td>
                                <td class="boldme paid_total_display_off" style="display:none;">{{ total_indiv_shares.amount_to_pay__sum }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
            </table>
        </div>

        </form>

    </div>
{% endblock %}

{% block content_head %}
    <div id="ResultStr" class="boldme"></div>
{% endblock %}

{% block content %}
{% endblock %}