{% extends "roomexpenses/expenses_form.html" %}
{% load staticfiles %}
{% load roomexpenses_extras %}

{% block content_headx %}
    <a href="{{ prev_history_url }}" class="arrows-left-icon"> <img src="{% static 'images/Arrows-Left-icon.png' %}" /> </a>
    <a href="{{ next_history_url }}" class="arrows-right-icon"> <img src="{% static 'images/Arrows-Right-icon.png' %}" /> </a>
    <h4>{{ this_month|month_name }} - {{ this_year }} </h4>
{% endblock %}


{% block contentx %}
    <div class="expense-form">

        <div class="row">

            <div class="four columns">
                <div class="monthexp-detail">

                    <table class="u-full-width">
                        <thead>
                            <tr>
                                <th style="text-align: center;" colspan="2"><h5>Expenses</h5></th>
                            </tr>
                            <tr>
                                <th>Expense Details</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                            <tbody>

                                {% for field, value in exp_data.fields.items %}
                                <tr>
                                    <td>{{ field|title }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                                {% empty %}
                                    <th style="text-align: center; color: #666;" colspan="2">-- --</th>
                                {% endfor %}
                                {% if exp_data %}
                                    <tr>
                                        <td class="boldme">Total</td>
                                        <td class="boldme">{{ exp_obj.get_total_exp }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                    </table>

                </div>

            </div>

            <div class="four columns">
                <div class="monthinves-detail">

                    <table class="u-full-width">
                        <thead>
                            <tr>
                                <th style="text-align: center;" colspan="2"><h5>Investment</h5></th>
                            </tr>
                            <tr>
                                <th>Investment Details</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                            <tbody>

                                {% for field, value in inves_data.fields.items %}
                                <tr>
                                    <td>{{ field|title }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                                {% empty %}
                                    <th style="text-align: center; color: #666;" colspan="2">-- --</th>
                                {% endfor inves_data %}
                                {% if inves_data %}
                                <tr>
                                    <td class="boldme">Total</td>
                                    <td class="boldme">{{ inves_obj.get_total_inves }}</td>
                                </tr>
                                {% endif %}

                            </tbody>
                    </table>

                </div>

            </div>

            <div class="four columns">
                <div class="afp-detail">
                    <table class="u-full-width">
                        <thead>
                            <tr>
                                <th style="text-align: center;" colspan="3"><h5>Adjustment From People </h5></th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                            <tbody>
                                {% for afp_obj in afp_objs %}
                                <tr>
                                    <td>{{ afp_obj.people_name|title }}</td>
                                    <td>{{ afp_obj.amount }}</td>
                                </tr>
                                {% empty %}
                                    <th style="text-align: center; color: #666;" colspan="2">-- --</th>
                                {% endfor %}
                                {% if afp_objs %}
                                <tr>
                                    <td class="boldme">Total</td>
                                    <td class="boldme">{{ inves_obj.get_total_adjustment }}</td>
                                {% endif %}
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="monthshare-detail">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th style="text-align: center;" colspan="3"><h5>Share Details</h5></th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Shared</th>
                        <th>Amount To Pay</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for indiv_obj in indiv_qs %}
                        <tr>
                            <td>{{ indiv_obj.fk_room_member.name }}</td>
                            <td>{{ indiv_obj.get_shared_display }}</td>
                            <td>{{ indiv_obj.amount_to_pay }}</td>
                        </tr>
                        {% empty %}
                            <th style="text-align: center; color: #666;" colspan="3">Add your Roommates Details in Admin Page!!!... </th>
                        {% endfor %}
                        {% if indiv_qs %}
                            <tr>
                                <td class="boldme" colspan="2">Total</td>
                                <td class="boldme" >{{ total_indiv_shares.amount_to_pay__sum }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
            </table>
        </div>


    </div>
{% endblock %}

{% block content_head %}
{% endblock %}

{% block content %}
{% endblock %}