{% extends "base.html" %}
{% load floppyforms %}



{% block nav %}
    <div class="header">
        <div class="container">
            <nav class="navbar">
                <ul class="navbar-list">

                    {% now 'm' as copymonth %}
                    {% now 'Y' as copyyear %}
                    <li class="navbar-item">
			
		    {% if copymonth == '01' %}
			{# hardcoded - I guess pepole will not use this application after 2018 ;) #}
                        <a id="date-picker" href="{% url 'roomexpenses:expenses_history' month=12 year=2017 %}">
                        Dashboard</a>
		    {% else %} 
                        <a id="date-picker" href="{% url 'roomexpenses:expenses_history' month=copymonth|add:-1 year=copyyear %}">
                        Dashboard</a>
		    {% endif %} 
                    </li>
                    <li class="navbar-item"><a href="{% url 'roomexpenses:month_expense' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li class="navbar-item"><a href="{% url 'signout' %}">Signout</a></li>
                    {% else %}
                        <li class="navbar-item"><a href="{% url 'signin' %}">Signin</a></li>
                    {% endif %}
                </ul>
            <div class="clear"></div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content_head %}
    <h4>{% now "F" %} - Month Expense Detail</h4>
{% endblock %}

{% block content %}
    <div class="expense-form">
        {% form form using %}
        <form method="post">
            {% csrf_token %}
            {% formconfig row using "floppyforms/rows/p.html" %}

            <div class="row">
            <div class="six columns">
                {% formrow form.rent %}
                {% formrow form.maintenance %}
                {% formrow form.cable %}
                {% formrow form.EB %}
            </div>

            <div class="six columns">
                {% formrow form.water %}
                {% formrow form.commonEB %}
                {% formrow form.veg_shop %}
                {% formrow form.other%}
            </div>
            </div>

            <input class="button-primary btnnext" value="Next" type="submit">
        </form>
        {% endform %}
    </div>
{% endblock %}

