{% extends "roomexpenses/expenses_form.html" %}


{% block content_head %}

{% endblock %}

{% block content %}

    <div class="month-share">
        <div class="monthexp-detail">
            <table class="u-full-width">
                    <thead>
                    <tr>
                        <th style="text-align: center;" colspan="3"><h5>Expense & Investment</h5></th>
                    </tr>
                    <tr>
                        <th>Expense</th>
                        <th>Investment</th>
                        <th>Total</th>

                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>{{ data_dict.MonthExp }}</td>
                            <td>{{ data_dict.MonthInves }}</td>
                            <td>{{ data_dict.Total }}</td>
                        </tr>

                    </tbody>
            </table>

        </div>

        <div class="afp-detail">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th style="text-align: center;" colspan="3"><h5>Adjustment From People </h5></th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for afp_obj in afp_objs %}
                        <tr>
                            <td>{{ afp_obj.people_name }}</td>
                            <td>{{ afp_obj.amount }}</td>
                        </tr>
                        {% empty %}
                            <th style="text-align: center; color: #666;" colspan="2">Blah Blah!!!...</th>
                        {% endfor %}
                    </tbody>
            </table>
        </div>

        <div class="monthshare-detail">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th style="text-align: center;" colspan="3"><h5>Share Details</h5></th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Shared</th>
                        <th>Amount To Pay</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for indiv_obj in indiv_qs %}
                        <tr>
                            <td>{{ indiv_obj.fk_room_member.name }}</td>
                            <td>{{ indiv_obj.get_shared_display }}</td>
                            <td>{{ indiv_obj.amount_to_pay }}</td>
                        </tr>
                        {% empty %}
                            <th style="text-align: center; color: #666;" colspan="3">Blah Blah!!!...</th>
                        {% endfor %}
                    </tbody>
            </table>
        </div>

    </div>

{% endblock content %}

