{% extends "base.html" %}

{% block extrahead %}

{% endblock %}


{% block content %}
<div class="container">
    <div class="people-share">
        <form action="{{ action_url }}" method="post" >
            {% csrf_token %}
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Share All</th>
                        <th>Food Only</th>
                        <th>Rent Only</th>
                    </tr>
                </thead>
                    <tbody>

                        {% for obj in object_list %}
                            <tr>
                                <td>{{ obj.name|title }}</td>
                                <td><input class='checkAll' type="checkbox" value="{{ forloop.counter }}"/> </td>
                                <td><input type="checkbox" name="{{ forloop.counter }}" value="1"/></td>
                                <td><input type="checkbox" name="{{ forloop.counter }}" value="2"/></td>
                            </tr>
                        {% endfor %}

                    </tbody>
        </table>
    <input class="button-primary" value="Next" type="submit">
    </form>

    </div>
</div>

{% endblock content %}


