{% extends "roomexpenses/expenses_form.html" %}

{% block content_head %}
    <h4>{% now "F" %} - People Sharing Details</h4>
{% endblock %}

{% block content %}
    <div class="people-share">
        <form action="{{ action_url }}" method="post" >
            {% csrf_token %}
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Share All</th>
                        <th>Rent Only</th>
                        <th>Food Only</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for obj in object_list %}
                            <tr>
                                <td>{{ obj.name|title }}</td>
                                <td><input class='checkAll' type="checkbox" name="checkAll" value="{{ forloop.counter }}"/> </td>
                                <td><input type="checkbox" name="{{ forloop.counter }}" value="1"/></td>
                                <td><input type="checkbox" name="{{ forloop.counter }}" value="2"/></td>
                            </tr>
                        {% empty %}

                            <td> <h5 style="color: #d1d1d1;"> Add your Roommates Details in Admin Page... </h5> </td>

                        {% endfor %}
                    </tbody>
            </table>
        <a class="button button-primary btnprev" href="{% url 'roomexpenses:month_investment_update' pk=prev_inves_obj.id %}">Previous</a>
        <input id="complete" class="complete btnnext" value="Complete" type="submit", disabled>
        </form>
    </div>
{% endblock %}
