{% extends "roomexpenses/expenses_form.html" %}

{% block content_head %}
    <h4>{% now "F" %} - People Sharing Details</h4>
{% endblock %}

{% block content %}
    <div class="people-share">
        <form action="{{ action_url }}" method="post" >
            {% csrf_token %}
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Share All</th>
                        <th>Food Only</th>
                        <th>Rent Only</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for obj in object_list %}
                            <tr>
                                <td>{{ obj.name|title }}</td>
                                <td><input class='checkAll' type="checkbox" value="{{ forloop.counter }}"/> </td>
                                <td><input type="checkbox" name="{{ forloop.counter }}" value="1"/></td>
                                <td><input type="checkbox" name="{{ forloop.counter }}" value="2"/></td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        <a class="button button-primary btnprev" href="#">Previous</a>
        <input class="button-primary btnnext" value="Next" type="submit">
        </form>
    </div>
{% endblock %}
